h3 {
    text-align: center;
}
input[type="text"] {
    padding: 15px; 
    width: 600px;
    font-size: 16px;
}
#divContainer {
    margin: 0px auto;
    width: 600px;
}
#divInput, #divResults {
    margin: 5px;
    padding: 5px;
}

#divEx
{
    margin: 10px;
    font-size:12px;
}
#divEx span {
    padding: 5px;
    display: block;
    border-bottom: solid 1px #e7e4e4;
}